body {
    color: #fff;
    background: #17181c;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

body.lock {
    overflow: hidden;
}

header {
    padding: 10px 30px;
}

header h1 {
    font-size: 40px;
    font-weight: 800;
}

main {
    margin-bottom: 10vh;
}

footer {
    height: 100px;
    background: #439dc0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 75%;
}

.rs-school-logo {
    width: 6rem;
}

.year {
    color: #000;
}

@media (max-width: 500px) {
    header h1 {
        font-size: 30px;
        font-weight: 800;
        text-align: center;
    }

    main {
        margin-bottom: 5vh;
    }

    footer {
        height: 70px;
    }

    .footer {
        width: 90%;
    }

    .rs-school-logo {
        width: 4rem;
    }

    .year {
        font-size: 0.8em;
    }

    .icon-github {
        width: 40px;
    }
}