html {
    scroll-behavior: smooth;
}

body {
    color: #fff;
    background: #17181c;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

body.lock {
    overflow: hidden;
}

header {
    padding: 10px 30px;
}

header h1 {
    font-size: 40px;
    font-weight: 800;
}

main {
    margin-bottom: 10vh;
}

.icon-up {
    position: fixed;
    right: 50px;
    bottom: 110px;
    width: 48px;
    height: 48px;
    background-color: #30c5ff;
    border-radius: 50%;
    background-image: url(https://img.icons8.com/external-those-icons-lineal-those-icons/48/00000/external-up-arrows-those-icons-lineal-those-icons-1.png);
    background-position: center;
    background-repeat: no-repeat;
}

.icon-up:hover {
    background-image: url(https://img.icons8.com/external-those-icons-lineal-those-icons/48/ffffff/external-up-arrows-those-icons-lineal-those-icons-1.png);
}

footer {
    height: 100px;
    background: #439dc0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 75%;
}

.rs-school-logo {
    width: 6rem;
}

.year {
    color: #000;
}

@media (max-width: 768px) {
    .icon-up {
        right: 30px;
        bottom: 70px;
    }
}

@media (max-width: 500px) {
    header h1 {
        font-size: 30px;
        font-weight: 800;
        text-align: center;
    }

    main {
        margin-bottom: 5vh;
    }

    .icon-up {
        right: 15px;
    }

    footer {
        height: 70px;
    }

    .footer {
        width: 90%;
    }

    .rs-school-logo {
        width: 4rem;
    }

    .year {
        font-size: 0.8em;
    }

    .icon-github {
        width: 40px;
    }
}